:root {
    --main: white ;
    --second: #6943FF ;
    --third: #e4e4e4 ; 
    --extra: white;
    --extra1: #5A537B ;
    --extra2: #353535 ;

    --extra3: white ;
}
body:has(#checkbox:checked) {
    --main : #1F2937 ;
    --second: #6943FF ;
    --extra: #1F2937 ;
    --third: #273549 ; 
    --extra1: #CCC1FF;
    --extra2:white ;
    background-image: url(imgs/dark-blue-pink-3840x2160-12661.jpg);
    .container {
        box-shadow: 0px 0px 20px 9px #6943ff91;
    }
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"slnt";
    text-align: center;
    background-image: url(imgs/wallpaperflare.com_wallpaper.jpg);
    background-size:450%;
    position: relative;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    background-color: var(--extra);
    width: 600px;
    margin-inline: auto;
    margin-top: 50px;
    top: 50%;
    border: 9px var(--extra) solid;
    border-radius: 8px;
    box-shadow: 0 0 9px 0px #a1a1a1;
    box-sizing: border-box;
}
.container .top {
    position: relative;
    background-color: var(--second);
    color: var(--extra3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 30px;
    box-sizing: border-box;
}
.container .top h1 {
    margin: 0;
    padding: 15px;
    padding-bottom: 20px;
}

/* Toggle Swtich */

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 25px;
    bottom: 10px;
    right: 10px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #1F2937;
}
input:focus + .slider {
    box-shadow: 0 0 1px #1F2937;
}
input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34x);
    transform: translateX(34px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.switch .label {
    position: relative;
    left: -65px;
    bottom: -1px;
    color: var(--main) ;
    font-size: 20px;
}


.container .top input {
    margin: 10px;
    height: 70px;
    display: block;
    margin-inline: auto;
    border-radius: 5px;
    background-color: #6943ff00;
    border: 1px solid var(--extra3);
    text-align: center;
    color: var(--extra);
    font-weight: bold;
    font-size: 45px;
    padding: 10px;
}
.container .top input::placeholder {
    color: rgba(207, 207, 207, 0.685);
}

.container .top input[type=number]::-webkit-inner-spin-button, 
.container .top input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.container .top input:focus {
    outline: none;
}
.container .top button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--extra3);
    cursor: pointer;
}

.container .bottom {
    padding: 20px;
    box-sizing: border-box;
}
.container .bottom .section {
    background-color: var(--third);
    border-radius: 5px;
    padding: 10px 0 ;
    margin-bottom: 15px;
}
.container .bottom .section:last-child {
    margin-bottom: 0;
}
.container .bottom .section h3 {
    color: var(--extra1);
}
.container .bottom .section h4 {
    font-weight: normal;
    color: var(--extra2);
    padding-inline: 5px;
}

@media (max-width:600px) {
    body:has(#checkbox:checked) {
        background-color: var(--extra);
        background-image: none;
        .container {
            box-shadow: none;
        }
    }
    
    body {
        background-color: var(--extra);
        background-image: none;
    }
    .container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        box-shadow: none;
        border: var(--extra) 10px solid;
    }
    .container .top {
        padding: 10px 20px;
    }
    .container .top h1 {
        padding: 5px;
        font-size: 30px;
    }
    .switch {
        width: 50px;
        height: 20px;
        bottom: 10px;
        right: 10px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 4px;
        bottom: 3.55px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
    }
    .switch .label {
        position: relative;
        left: 0px;
        bottom: 23px;
        color: var(--main) ;
        font-size: 15px;
    }
    
    .container .top input {
        padding: 5px;
        height: 50px;
        font-size: 35px;
    }
    .container .bottom .section h3 {
        color: var(--extra1);
    }
    .container .bottom .section h4 {
        color: var(--extra2);
    }
    .container .bottom .section h3 ,
    .container .bottom .section h4 {
        margin: 10px;
    }
}